textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.past-hour {
  background-color: rgb(189, 189, 189);
  border-color: gray;
}

.present-hour {
  background-color: crimson;
  border-color: crimson;
}

.future-hour {
  background-color: rgb(90, 177, 90);
  border-color: rgb(41, 136, 41);
}

button {
  background-color: darkturquoise;
  border-radius: 0px 5px 5px 0px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

button {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

button:hover {
  font-size: 35px;
  transition: all .3s ease-in-out;
}